@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url(./vars.css);
@import url(./about.css);
@import url(./contact.css);


.bg-menu {
    background-color: #f7f7f7;
    display: none;
    width: 100%;

    @media (min-width: 760px) {
        display: block;
    }
}

.menu-mobile {
    background-color: #f7f7f7;
    display: block;
    width: 100%;
    padding: 16px;
    color: var(--azul);

    @media (min-width: 760px) {
        display: none;
    }

}

#menu-mobile~div {
    display: none;
}

#menu-mobile:checked~div {
    display: block;

    @media (min-width: 760px) {
        display: none;
    }

}

.menu-fix-mobile {
    display: block;
}

.menu-fix-mobile a {
    display: block;
    line-height: 48px;
    cursor: pointer;
    text-align: center;    
    font-size: 24px;
    text-decoration: none;
    border-top: 1px solid var(--azul);
    color: var(--azul);
    font-weight: bold;
}

.menu-mobile>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 34px;
}

.menu-mobile img {
    height: 100px;
}

.menu_grid {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container {
    width: 90%;
    margin: auto;
}

.logo {
    --size: 200px;
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    padding: 5px;
    background-color: #f7f7f7;
}

.box {
    display: block;
    width: 50px;
    height: 50px;
}

.box__azul {
    background-color: var(--azul);
}

.box__ocle {
    background-color: var(--ocle);
}

.menu-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
}

#menu-toggle {
    display: none;
}

.menu_link {
    display: inline-flex;
    color: var(--ocle);
    text-decoration: none;    
    font-size: 18px;
    font-weight: bolder;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
    margin-top: -2px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    height: 200px;
    transition: all .3s ease-in-out;

}

.menu_link_active,
.menu_link:hover {
    font-weight: bold;
    color: var(--azul);
    background-color: #EEE;
    border-bottom: 2px solid var(--azul);
}

.menu_link_btn {
    background-color: var(--azul);
    color: #f7f7f7;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.menu_link_btn:hover {
    filter: brightness(1.2);
    color: #FFF;
}

.swiper {
    width: 100%;
    height: 500px;
}

.main-banner {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.main-banner picture img {
    width: 100%;
    height: 360px;
    object-fit: cover;

    @media (min-width: 760px) {
        height: auto;
    }
}

.main-banner h2 {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    color: #FFFFFF;
    font-family: var(--font);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    margin: 0;
    width: 80%;

    @media (min-width: 760px) {
        font-size: 50px;
    }
}

.cta-button {
    transform: translateY(0);
    font-family: var(--font);
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--ctacolorbg);
    color: var(--ctacolortext);
    border-radius: 40px;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;

    @media (min-width: 760px) {
        font-size: 16px;
        padding: 25px 60px;
    }
}

.cta-button:hover {
    transform: scale(1.02);
    background-color: var(--ctacolorbgover);
}

.cta-button span {
    font-family: var(--font);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cta-banner {
    position: absolute;
    top: 60%;
    margin-top: 20px;
}

.banner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/banner-1.jpg);
    height: 500px;
    background-size: cover;
    background-position: center center;
}

.banner-item-bg-1 {
    background-image: url(../image/banner-1.jpg);
}

.banner-item-bg-2 {
    background-image: url(../image/banner-2.jpg);
}

.banner-item-bg-3 {
    background-image: url(../image/banner-3.jpg);
}

.banner-item>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1116;
    width: 100%;
    height: 500px;

}

.banner-item h2 {
    color: #FFF;
    font-size: 34px;    
    width: 500px;
    margin: auto;
    text-align: justify;
}

.banner-item p {
    color: #EEE;
    font-size: 16px;    
    width: 500px;
    margin: auto;
    text-align: justify;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    color: #FFF;
}

.footer_bg {
    display: block;
    background-color: var(--ocle);
    padding: 24px 0 0;
    border-top: 1px solid #DDD;
}

.footer_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 48px;
    text-align: center;
    width: 100%;
    overflow-x: hidden;

    @media (min-width: 760px) {
        grid-template-columns: repeat(4, 1fr);
        text-align: left;
    }
}

.footer_logo {
    display: block;
    padding: 12px;
    border-radius: 50%;
    background-color: var(--ocletext);
    margin: auto;
}

.footer_logo img {
    --size: 200px;
    display: block;
    width: var(--size);
    height: var(--size);
}

.footer_text {    
    color: var(--ocletext);
    text-align: center;
    padding: 0 0 24px 0;

    @media (min-width: 760px) {
        text-align: left;
    }
}

.footer_title {    
    font-size: 18px;
    color: var(--ocletext);
    font-weight: bolder;
    margin-bottom: 12px;
}

.footer_link {
    font-family: var(--font);
    display: block;
    text-decoration: none;
    color: var(--ocletext);
    font-weight: 500;
    line-height: 32px;
    cursor: pointer;    
}

.footer_link:hover {
    color: var(--azul);
    color: var(--ocletextover);
    font-weight: bold;
}

.link_social {
    display: flex;
    align-items: center;
    height: 48px;
}

.link_social a {
    font-size: 24px;
    color: #f1f1f1;
    cursor: pointer;
    margin: 24px auto 0 auto;
    margin-top: 24px;
    text-decoration: none;

    @media (min-width: 760px) {
        margin: unset;
    }
}

.link_social a:hover {
    color: var(--ocletextover);
}

.copy {
    display: block;
    color: var(--ocletextover);
    text-align: center;
    padding: 16px 8px;
    font-family: var(--font);
    font-size: 14px;
    background-color: var(--ocle);
    margin-top: 24px;
}

body {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

h1,
h2,
h3 {
    margin: 20px 0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    margin: 10px 0;
    color: #666;
    text-align: center;
}

.hero {
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 16px;
    overflow: hidden;
    font-family: var(--font);
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.hero span {
    color: #333;
}

.hero h1 {
    color: #111;
    font-weight: 900;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-position: center center;
    max-height: 400px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
}

.card {
    flex: 1 1 300px;
    /* margin: 10px; */
    padding: 20px;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card i {
    font-size: 50px;
    margin-bottom: 10px;
    color: #fc1292;
}

.card h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #fc1292;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input,
form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #c0392b;
}

.contact-info {
    margin-top: 20px;
    background-color: transparent;
    box-shadow: none;
}

.contact-info h3 {
    margin-bottom: 10px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info img {
    width: 100%;
    height: auto;
    max-height: 300px;
    margin-top: 20px;
}

.videos {
    text-align: center;
}

.video-container {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    gap: 8px;
}

.video-container h3 {
    /* text-transform: uppercase; */
    font-weight: lighter;
}

video {
    width: 100%;
    border-radius: 20px;

    @media (min-width: 760px) {
        width: 80%;
    }
}


.contato-bg {
    background-image: url(../image/contato.jpg);
}

.sus-bg {
    background-image: url(../image/espera-1.jpg);
}

.sus-sobre {
    background-image: url(../image/isometrica.jpg);
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.sobre>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
}

.sobre h1 {
    text-align: left;
    display: block;
    font-family: var(--font);
}

.sobre h2 {
    text-align: left;
    display: block;
    font-family: var(--font);
}

.sobre p {
    text-align: justify;
    display: block;
}

.sobre img {
    width: 100%;
    object-fit: cover;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.icon {
    color: var(--ocletext);
}

.top-space {
    margin-top: var(--verticalspace);
}

.images-gallery {
    display: flex;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.images-gallery img {
    width: calc(100% / 3);
    height: 100%;
    object-fit: cover;
    display: block;

    @media (min-width: 760px) {
        width: calc(100% / 9);
    }
}

.main-hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    width: 80%;
    margin: 64px auto 64px auto;

    @media (min-width: 760px) {
        grid-template-columns: 1fr 50%;
    }
}

.main-hero span {
    text-transform: uppercase;
}

.main-hero h2,
p {
    text-align: left;
    margin: 24px 0;
}

.main-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.06);
}

.main-hero a {
    display: inline-block;
    margin: 0 auto;
}


/* Essential */

ul {
    display: table-row;
    list-style: none;
}

li {
    display: table-row;
    color: #666;
}

li::before {
    display: table-cell;
    text-align: right;
    content: "+";
    font-size: 1em;
    font-weight: bold;
    color: var(--ocle);
    padding-right: 12px;
}


/* Non-essential */


.content-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container {
    width: 100%;
    margin: 2em 0;
}

strong {
    color: var(--ocledark);
}

ul {
    margin: 0;
    padding: 0;
}

li:hover {
    background-color: rgba(256, 256, 256, 0.1);
}

li:before:hover {
    background-color: rgba(256, 256, 256, 0.1);
}

/* li:not(:first-of-type)::before {
    padding-top: 12px;
  } */

.list-container ul li {
    display: inline-table;
    margin-bottom: 12px;
}

h2.page-title {
    color: #0064b1;    
    font-size: 18px;

    @media (min-width: 760px) {
        font-size: 26px;
    }
}

.main-hero p {
    text-align: justify;
    margin-bottom: 0;
}

.service p {
    text-align: justify;
}

.page-subtitle {
    color: #0064b1;
}

.grid-sobre-about p {
    text-align: justify;
}

.service h2 {
    margin-top: 0;
}

@media (max-width: 760px) {
    .main-hero a {
        width: 100%;
        text-align: center;
    }

    .footer_link {
        max-width: 100%;
        overflow-x: hidden;
        font-size: 12px;
    }

    .grid-contact a {
        font-size: 12px;
    }

    .grid-contact {
        overflow-x: hidden;
    }
}
.video-container {
    width: 100%;
    margin: 0 auto;

    @media (min-width: 760px) {
        width: 90%;
    }
}
