* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --font: "Roboto Mono", monospace;
    --azul: #0064b1;
    --ocle: #d6aa5b;
    --ocledark: #583a21;
    --ocletext: #F1F1F1;
    --ocletextover: #ccc;
    --ctacolorbg: #2b80e1;
    --ctacolorbgover: #2065b4;
    --ctacolortext: #FFF;
    --title: "Lato", sans-serif;
    --text: "Lora", serif;
    --verticalspace: 48px;
}